**/__pycache__/
*.pyc
.venv/
.env
.DS_Store
Thumbs.db
.vscode/
.idea/
checkpoints_tf/
artifacts/
logs/
results/
.venv-ngc/
.config/
reports/
ngcContainer.sh
ngcContEnv.sh
ablations.md
old_chkpt_tf/
old_rprt/
old_rslt/
slides.md